/*@charset "EUC-KR";*/

    .buy_ticket_btn,
    .login_btn,
    .logout_btn,
    .myInfo_btn,
    .signup_btn,
    .music_chart_btn,
    .new_music_btn,
    .genre_music_btn,
    .star_magazine_btn,
    .popular_music_video_btn,
    .music_4u_btn,
    .board_btn,
    .my_music_btn {
        background-color: white;
        border: none;
        color: gray;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
    }
    
    .buy_ticket_btn:hover,
    .login_btn:hover,
    .logout_btn:hover,
    .myInfo_btn:hover,
    .signup_btn:hover,
    .music_chart_btn:hover,
    .new_music_btn:hover,
    .genre_music_btn:hover,
    .star_magazine_btn:hover,
    .popular_music_video_btn:hover,
    .music_4u_btn:hover,
    .board_btn:hover,
    .my_music_btn:hover {
      background-color: #ffffff;
      color: #000000;
      font-weight: bold;
	}
	
	.util_menu {
	  display: flex;
	}
	
    .head_top_left {
    	margin-top: auto;
        float: left;
    }

    .head_top_right {
    	margin-top: auto;	
        float: right;
    }
    .head_bottom_left {
    margin-top: auto;
        float: left;
    }

    .head_bottom_right {
    margin-top: auto;
        float: right;
    }  

    .user_states {
        font-weight: bold;
    }
	.head_middle {
	    display: flex;
	    align-items: center;
	}
	.logo {
	    flex-shrink: 0;
	    width: 200px;
	    height: 100px;
	}
	.search_box {
	    margin-left: 16px;
	    width: 400px;
	    height: 36px;
	    padding: 4px;
	    border-radius: 4px;
	    border: 1px solid gray;
	    font-size: 16px;
	}